@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: limegreen;
    padding: 15px;
    color: white;
    font-size: 2.2em;
    text-align: center;
}

main {
    width: 50vw;
    padding: 15px;
    margin: auto;
    
}

menu {
    position: fixed;
    z-index: 1;
    background-color: black;
    padding: 15px;
    padding-top: 60px;
    height: 100vw;
    width: 10vw;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
    padding-bottom: 15px;
    display: block;
}

i {
    color: white;
}

i#arrowc {
    display: none;
}