@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: limegreen;
    padding: 15px;
    color: white;
    font-size: 2.2em;
    text-align: center;
}

main {
    width: 50vw;
    padding: 15px;
    margin: auto;
    
}

menu {
    position: fixed;
    z-index: 1;
    background-color: black;
    padding: 15px;
    padding-top: 60px;
    height: 100vw;
    width: 50px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    padding-bottom: 25px;
    display: none;
}

a:hover {
    background-color: gray;
    transition: 0.5s;
}

i.icons {
    font-size: 1.5em;
    padding: 10px;
}

i {
    color: white;
}

span#arrowo {
    font-size: 1.5em;
}

span#arrowc {
    font-size: 1.5em;
    display: none;
}