@charset "UTF-8";


* {
 margin: 0px;
 padding: 0px;
}

header {
    background-color: #808080;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

span {
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: black;
    width: 95vw;
    border-radius: 10px;
    cursor: pointer;
}

menu {
    width: 93vw;
    background-color: rgb(83, 80, 80);
    padding: 10px;
    border-radius: 10px;
    display: none;
    
}

a {
    width: 90vw;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 10px;
}

main {
    
    margin: auto;
    width: 80vw;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
}