@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    font-size: 1.4em;
    color: white;
    background-color: green;
    text-align: center;
    padding: 25px;
    margin-bottom: 20px;
}

section {
    width: 65vw;
    margin: auto;
    padding: 15px;
    text-align: justify;
    border: 2px solid lime;
    border-radius: 5px;
    margin-bottom: 20px;
}

section > h2 {
    text-align: center;
    padding: 5px;
    color: lime;
}