@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

header {
    padding: 20px;
    background-color: rgb(34, 34, 34);
    color: white;
    margin-bottom: 10px;
}

h1 {
    margin: 10px;
    
}

a {
    color: white;
    text-decoration: none;
    background-color: lightgrey;
    padding: 9px;
    margin: 5px;
    border-radius: 10px;
}

a:hover {
    color: black;
    background-color: grey;
    
    
}

main {
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
}

footer {
    background-color: grey;
    padding: 10px;
    margin-top: 10px;
}

