@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightyellow;
}

header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 80vw;
    margin: auto;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
}